---
import Layout from '../layouts/Layout.astro';

export const prerender = false;

const cookie = Astro.cookies.get('wos-session');

if (!cookie?.value) {
	return Astro.redirect('/sign-in');
}
---

<Layout title="Dashboard">
	<main>
		<h1>Dashboard</h1>
		<p>
			Welcome {'Guest'}!
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
